<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Navigation bar</title>
    <link rel="stylesheet" type="text/css" href="../css/navigation_bar.css" />
</head>
<body>
<div class="blank_space"></div>
<div id="nav_bar" class="nav_bar">
    <ul>
        <li class="none"><a href="#">About</a></li>
        <li class="bars"><a href="#">technology</a>
            <ul class="sec_bar">
                <li><a href="#">html5</a></li>
                <li><a href="#">css</a></li>
                <li><a href="#">javascript</a></li>
            </ul>
        </li>
        <li class="bars"><a href="#">support</a>
            <ul class="sec_bar">
                <li><a href="#">w3c</a></li>
                <li><a href="#">csdn</a></li>
                <li><a href="#">runoob</a></li>
            </ul>
        </li>
        <li class="none"><a href="#">link</a></li>
    </ul>
</div>
</body>
<script type="text/javascript" src="../js/navigation.js"></script>
</html>