<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>旅游_旅游网</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="../images/tuniu/logo_1x.png" type="image/png"/>
    <link rel="stylesheet" href="../css/tuniu.css" type="text/css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css"/>
</head>
<body>
<div class="top color_green">
    <div class="left">
        <img alt="找不到了呢" src="../images/tuniu/logo_1x.png"/>
        <select>
            <option>深&nbsp;圳</option>
        </select>
    </div>
    <div class="center"><input type="text" placeholder="  马尔代夫"></div>
    <div class="right">
        <img alt="找不到了呢" src="../images/tuniu/people.svg"/>
        <select>
            <option>导&nbsp;航</option>
        </select>
    </div>
</div>
<div class="ad"><img alt="找不到了呢" src="../images/tuniu/ad_1.jpeg"/></div>
<!--travel-->
<div class="width_100">
    <div id="travel" class="width_33"><img alt="找不到了呢" src="../images/tuniu/travel.gif"/></div>
    <div class="width_67">
        <div class="width_100">
            <div class="width_50 color_green"><p class="text">跟团游</p></div>
            <div class="width_50 color_green"><p class="text">邮轮游</p></div>
        </div>
        <div class="width_100">
            <div class="width_50 color_green"><p class="text">自由行</p></div>
            <div class="width_50 color_green"><p class="text">酒店+景点</p></div>
        </div>
    </div>
</div>
<div class="width_100"></div>
<div class="width_100">
    <div class="width_100">
        <div class="width_33 color_green"><p class="text">出境游</p></div>
        <div class="width_67">
            <div class="width_50 color_green"><p class="text">国内游</p></div>
            <div class="width_50 color_green"><p class="text">周边游</p></div>
        </div>
    </div>
</div>

<!--plane-->
<div class="width_100">
    <div id="plane" class="width_33"><img alt="找不到了呢" src="../images/tuniu/plane.gif"/></div>
    <div class="width_67">
        <div class="width_100">
            <div class="width_50 color_blue"><p class="text">国际机票</p></div>
            <div class="width_50 color_blue"><p class="text">火车票·抢票</p></div>
        </div>
        <div class="width_100">
            <div class="width_50 color_blue"><p class="text">汽车票·包车</p></div>
            <div class="width_50 color_blue"><p class="text">租车·接送</p></div>
        </div>
    </div>
</div>

<!--hotel-->
<div class="width_100"></div>
<div class="width_100">
    <div class="width_100">
        <div id="hotel" class="width_33"><img alt="找不到了呢" src="../images/tuniu/hotel.gif"></div>
        <div class="width_67">
            <div class="width_50 color_red"><p class="text">国际酒店</p></div>
            <div class="width_50 color_red"><p class="text">当地玩乐</p></div>
        </div>
    </div>
</div>
<div class="width_100">
    <div class="width_100">
        <div class="width_33 color_orange"><p class="text">签证</p></div>
        <div class="width_67">
            <div class="width_50 color_orange"><p class="text">门票</p></div>
            <div class="width_50 color_orange"><p class="text">定制·包团</p></div>
        </div>
    </div>
</div>
<div class="width_100">
    <div class="width_100">
        <div class="width_33 color_orange"><p class="text">目的地攻略</p></div>
        <div class="width_67">
            <div class="width_50 color_orange"><p class="text">目的地参团</p></div>
            <div class="width_50 color_orange"><p class="text">金融·理财</p></div>
        </div>
    </div>
</div>
<div class="tool width_100">
    <div class="width_100">
        <div class="width_20">
            <img alt="找不到了呢" src="../images/svg/吐司.svg"/>
            <br />
            <p>吐司</p>
            <br />
            <img alt="找不到了呢" src="../images/svg/薯条.svg"/>
            <br />
            <p>薯条</p>
        </div>
        <div class="width_20">
            <img alt="找不到了呢" src="../images/svg/咖啡.svg"/>
            <br />
            <p>咖啡</p>
            <br />
            <img alt="找不到了呢" src="../images/svg/蛋糕.svg"/>
            <br />
            <p>蛋糕</p>
        </div>
        <div class="width_20">
            <img alt="找不到了呢" src="../images/svg/布丁.svg"/>
            <br/>
            <p>布丁</p>
            <br />
            <img alt="找不到了呢" src="../images/svg/雪糕.svg"/>
            <br/>
            <p>雪糕</p>
        </div>
        <div class="width_20">
            <img alt="找不到了呢" src="../images/svg/汉堡.svg"/>
            <br/>
            <p>汉堡</p>
            <br />
            <img alt="找不到了呢" src="../images/svg/饼干.svg"/>
            <br/>
            <p>饼干</p>
        </div>
        <div class="width_20">
            <img alt="找不到了呢" src="../images/svg/爆米花.svg"/>
            <br/>
            <p>爆米花</p>
            <br />
            <img alt="找不到了呢" src="../images/svg/餐具.svg"/>
            <br/>
            <p>餐具</p>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../js/tuniu.js"></script>
</html>