<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>W3C&RUNOOB</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="description" content="这是一个测试实例">
    <meta name="author" content="Aoer">
    <meta name="keywords" content="HTML,CSS,JAVASCRIPT">
    <link rel="stylesheet" href="../css/w3c_runoob.css"/>
</head>
<body>
<div>
    <p class="message">W3C test</p>
    <div>
        <h1>this is a test</h1>
        <h2>this is a test</h2>
        <h3>this is a test</h3>
    </div>
    <div>
        <p class="text">
            假设有一个表现图库的页面，这种页面中可能会包含许多大型图像，
            我们可以通过jQuery隐藏、显示或以其他方式操作这些图像。
        </p>
    </div>
    <br/>
    <br/>
    <br/>
    <div><textarea class="text">假设有一个表现图库的页面，这种页面中可能会包含许多大型图像。</textarea></div>
    <div><a href="https://www.baidu.com" target="_blank">baidu.com</a></div>
    <div><img src="../images/布丁.svg" alt="找不到了"/></div>
    <hr/><!--hr在接下来的html5中不建议使用，建议用格式代替-->
    <div><img src="../image/布丁.svg" alt="找不到了"/></div>
    <div><p>O<sub>2</sub>和Ca<sup>+</sup></p></div>
    <div>
        <p>this is a
            <del>dest</del>
            <ins>test</ins>
        </p>
    </div>
    <div><pre>&lt;html&gt;&lt;/html&gt;</pre></div>
    <div><p><a href="http://www.runoob.com" alt="不见了"><img src="../images/svg/爆米花.svg" /></a></p></div>
    <div>
        <abbr title="asynchronous javascript and xml">ajax</abbr>

    </div>
</div>
<div>
   <table border="1" cellspacing="0">
       <caption>table</caption>
       <tr>
           <td colspan="2" rowspan="2">1</td>
           <td colspan="2">1</td>
       <tr>
           <td>2</td>
           <td>3</td>
       <tr>
           <td>4</td>
           <td>5</td>
           <td>6</td>
           <td>7</td>
       </tr>
   </table>
    <input type="search" />&#60;&bscr;&trade;
    <dl>
        <dt><img alt="找不到了呢" src="../iamges/svg/" /></dt>
        <dd>描述项目 1</dd>
        <dt>项目 2</dt>
        <dd>描述项目 2</dd>
    </dl>
</div>

</body>
</html>