<!doctype html>
<html>
<head>
  <title>miu</title>
<script src="./js/vue.js"></script>
</head>
<body>

<div id="example-3" class="demo">
  <input type="checkbox" id="华泰证券-普通账户-2003409023" value="1200000" v-model="checkedNames">
  <label for="1200000">华泰证券-普通账户-2003409023</label>
  <input type="checkbox" id="广发证券-普通账户-030250219510" value="1300000" v-model="checkedNames">
  <label for="1300000">广发证券-普通账户-030250219510</label>
  <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
  <label for="mike">Mike</label>
  <br>
  <span>Checked names: {{ checkedNames}}</span>
</div>
<script>
new Vue({
  el: '#example-3',
  data: {
    checkedNames: []
  }
})
</script>
</body>
</html>
