body{
	margin: 0;
	padding: 0;
	font: 12px arial;
}
.wrapper{
	width: 100%;
	height: 100%;
}
.wrapper>.top{
	width: 100%;
	height: 32px;
	border-bottom:1px solid #ebebeb;
	display: flex;
	position: relative;
	min-width: 1000px;
}
.wrapper>.top>.top_left{
	height: 100%;
	line-height: 32px;
	list-style: none;
	display: flex;
	margin: 0 0 0 15px;
	padding:0;
	color: #555;

}
.wrapper>.top>.top_left>.city_wather{
	height: 100%;
	height: 100%;
}
.wrapper>.top>.top_left>.city_wather>.a_city_wather{
	text-decoration: none;
	width: 36px;
    height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #555;
}
.wrapper>.top>.top_left>.city_wather>.a_city_wather>.polution>.polution_level{
	color: #38f;
	font-weight: bold;
	margin-left: 7px;
}
.wrapper>.top>.top_left>.skin{
	width: 24px;
	height:100%;
	margin:0 17px 0 11px;
	
}
.wrapper>.top>.top_left>.skin a{
	color: #555;
}
.wrapper>.top>.top_left>.infor a{
	width: 100%;
	height: 100%;
	color: #555;
}
.wrapper>.top>.top_right{
	height: 100%;
	position: absolute;
	right: 0;
	margin: 0;
	padding: 0;
	display: flex;;
}
.wrapper>.top>.top_right li{
	height:100%;
	list-style: none;
	margin-left: 19px;
	line-height: 32px;
	text-align: center;
}
.wrapper>.top>.top_right li a{
	text-decoration: underline;
	font-weight: bold;
	font-size: 13px;
	color: #555;
}
.wrapper>.top>.top_right>.user{
	position: relative;
}
.wrapper>.top>.top_right>.user>.user_name{
	font-weight: normal;

}
.wrapper>.top>.top_right>.user>.user_hidden{
	width:60px;
	position: absolute;
	top:32px;
	margin: 0;
	padding: 0;
	border: 1px solid #E3E3E3;
	box-shadow: 1px 1px 5px #d1d1d1;
	display: none; 
}
.wrapper>.top>.top_right>.user>.user_hidden a{
	width: 100%;
	cursor: pointer;
	font-size: 12px;
	text-decoration: none;
	height: 25px;
	line-height: 25px;
	text-align: center;
	display:block;
	font-weight: normal;

}

.wrapper>.top>.top_right>.user:hover .user_hidden{
     display: block;
}
.wrapper>.top>.top_right>.user>.user_hidden a:hover{
	color: #fff;
	background-color: #398bfb;
}
.wrapper>.top>.top_right>.setting{
	position: relative;
}
.wrapper>.top>.top_right>.setting>.setting_name{
	font-weight: normal;
}
.wrapper>.top>.top_right>.setting>.setting_hidden{
	width:60px;
	position: absolute;
	top:32px;
	margin: 0;
	padding: 0;
	border: 1px solid #E3E3E3;
	box-shadow: 1px 1px 5px #d1d1d1;
	display: none;
}
.wrapper>.top>.top_right>.setting>.setting_hidden a{
	width: 100%;
	cursor: pointer;
	font-size: 12px;
	text-decoration: none;
	height: 25px;
	line-height: 25px;
	text-align: center;
	display:block;
	font-weight: normal;

}
.wrapper>.top>.top_right>.setting:hover .setting_hidden{

display: block;
}
.wrapper>.top>.top_right>.setting>.setting_hidden a:hover{
	color: #fff;
	background-color: #398bfb;

}
.wrapper>.top>.top_right>.number{
	width: 86px;
	height: 100%;
	position: relative;
}
.wrapper>.top>.top_right>.number>.number_hidden{
	border: 1px solid  #f0f0f0;
	border-bottom: none;
	display: none;
}
.wrapper>.top>.top_right>.number>.number_name{
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #398bfb;
	line-height: 32px;
	display: block;
	text-decoration: none;
}
.wrapper>.top>.top_right>.number a{
	width: 66px;
	height: 76px;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
	color: #666;
	display: block;
	border-bottom:1px solid  #f0f0f0;
	margin:0 auto;

}
.wrapper>.top>.top_right>.number a img{
	height: 36px;
	width: auto;
	margin: 10px auto 5px;
	cursor: pointer;
}
.wrapper>.top>.top_right>.number a span{
	display: block;
}
.wrapper>.top>.top_right>.number:hover .number_hidden{
	display: block;
}
.wrapper>.head{
	width: 100%;
	height: 695px;
}
.wrapper>.head>.head_box{
	width: 641px;
	height:293px;
	margin: 0 auto;
	text-align: center;
}
.wrapper>.head>.head_box>.head_log{
    width: 100%;
    height: 149px;
    position: relative;
    text-align: center;

}
.wrapper>.head>.head_box>.head_log img{
	width: 270px;
	height: 129px;
	bottom: 10px;
	
}
.wrapper>.head>.head_box>.head_form{
	width: 100%;
	height:40px;
	display: flex;
	position: relative;
}
.wrapper>.head>.head_box>.head_form>.pic_icon{
	width:20px;
	height:20px;
	position:absolute;
	right:105px; 
	display: block;
	margin-top: -8px;
	top: 50%;

}
.wrapper>.head>.head_box>.head_form>.pic_icon img{
	width: 100%;
	height: 100%;
}

.wrapper>.head>.head_box>.head_form>.text_input{
	width: 480px;
	height: 20px;
	border: 1px solid #b8b8b8;
	border-right: none;
	padding:9px 48px 9px 7px; 
}
.wrapper>.head>.head_box>.head_form>.btn{
	width: 102px;
	height: 40px;
	background: #38f;
	border: 1px solid #38f;
	cursor: pointer;
	line-height: 38px;
	color: white;
	font-size: 16px;

}
.wrapper>.head>.center{
	width: 100%;
	height: 405px;
}
.wrapper>.head>.center>.center_box{
	width:895px;
	height: 100%;
	margin:0 auto;
	
}
.wrapper>.head>.center>.center_box>.box_top{
	width: 100%;
	height: 39px;
	border: 1px solid #e9e9e9;
	border-bottom: none;
}
.wrapper>.head>.center>.center_box>.box_top .nav_list{
	width: 100%;
	height: 100%;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	border: 1px solid #e9e9e9;
}
.wrapper>.head>.center>.center_box>.box_top .nav_list li{
	width: 124px;
	height: 100%;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.wrapper>.head>.center>.center_box>.box_top .nav_list>.act{
	color: white;
	background-color: #9a9da2;
}
.wrapper>.head>.center>.center_box>.box_bottom{
	width: 100%;
	height:355px;
	position: relative;
}
.wrapper>.head>.center>.center_box>.box_bottom>.my_cont{
    width: 100%;
    height:354px;
    border:1px solid #e9e9e9;
    border-top: none;
}
.wrapper>.head>.center>.center_box>.box_bottom>.nav_cont{
	width: 100%;
    height:354px;
    border:1px solid red;
    border-top: none;
    display: none;

}
.wrapper>.foot{
	width: 100%;
	height: 39px;
}
.wrapper>.foot>.foot_top{
	text-align: center;
	width:100%;
	height: 17px;
	margin: 0 auto;
	color:#999;
}
.wrapper>.foot>.foot_top a{
    color:#999;
}
.wrapper>.foot>.foot_top img{
	width: 13px;
	height: 16px;
}
.wrapper>.foot>.foot_bottom{
	width: 100%;
	height: 22px;
	text-align: center;
	color:#999; 
}
.wrapper>.foot>.foot_bottom img{
	width: 14px;
	height: 16px;
}