*{
    margin: 0px;
    padding: 0px;
}
body{
    min-width: 1023px;
    font-family:arial;
}
a{
    color: #333;
}
/********************** header *******************/
header{
    position: relative;
    width: 100%;
    height: 32px;
    border-bottom: 1px solid rgb(235, 235, 235); 
    font-size: 12px;
}
.weathermore{
    display: inline-block;
    padding-left: 15px;
    height: 32px;
    line-height: 35px;
}
.today-weather{
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.wendu{
    margin-right: 9px;
}
.you{
    margin-right: 7px;
    color: #38f;
    font-weight: bold;
}
.shuzi{
    margin-right: 7px;
}
.fenge{
    margin-right: 11px;
}
.w-more{
    display: none;
    z-index: 1;
    background-color: #fff;
    position: absolute;
    top: 32px;
    left: 0px;
    width: 585px;
    height: 201px;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 1px 1px 5px #d1d1d1;
}
.w-more::before{
    content: '';
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(235, 235, 235);
    position: absolute;
    top: -10px;
    left: 65px;
}
.w-more::after{
    content: '';
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -9px;
    left: 65px;
}
.w-more-one{
    height: 40px;
    width: 547px;
    margin: 0 19px;
    border-bottom:1px solid rgb(235, 235, 235);
    line-height: 40px;
}
.riqi{
    margin-left: 6px;
    color: #999;
}
.nextweather{
    margin-left: 18px;
    color: #0079f4;
    text-decoration: none;
}
.nextweather:hover{
    text-decoration:underline;
}
.w-r-set{
    float: right;
}
.r-set{
    width: 13px;
}
.r-zi{
    text-decoration: none;
}
.r-zi:hover{
    color: #0079f5;
}
.show-weather{
    float: left;
    width: 105px;
    height: 145px;
    text-align: center;  
}
.show-weather:hover{
    color: #0079f4;
}
.show-today-weather{
    width: 161px;
    font-weight: bold;
}
.show-w-one{
    height: 34px;
}
.show-w-xinxi{
    height: 18px;
    line-height: 18px;
}
.show-logo{
    width: 48px;
    height: 48px;;
}
.show{
    margin-right: 19px;
}
.h-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 590px;
    font-size: 13px;
    text-align: right;
    color: #999;
}
.right-li{
    height: 32px;
    line-height: 32px;
    margin-left: 19px;
}
.li-big{
    font-weight: bold;
}
.r-moreset{
    display: inline-block;
}
.right-more{
    display: inline-block;
    width: 86px;
    height: 32px;
    text-align: center;
    background-color: #398bfb;
    color: #fff;
    text-decoration: none;
}
.r-user-ul{
    position: absolute;
    display: none;
    right: 155px;
    height: 102px;
    width: 70px;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 1px 1px 5px #d1d1d1;
}
.r-user-ul::before{
    content: '';
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(235, 235, 235);
    position: absolute;
    top: -11px;
    left: 24px;
}
.r-user-ul::after{
    content: '';
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -10px;
    left: 24px;
}
.r-user-li{
    padding-left: 8px;
    height: 25px;
    line-height: 25px;
    text-align: left;
}
.r-user-li:hover{
    background-color: #398bfb;
    color: #fff;
}
.r-set-ul{
    position: absolute;
    display: none;
    left: 434px;
    height: 102px;
    width: 70px;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 1px 1px 5px #d1d1d1;
}
.r-set-ul::before{
    content: '';
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(235, 235, 235);
    position: absolute;
    top: -11px;
    left: 24px;
}
.r-set-ul::after{
    content: '';
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -10px;
    left: 24px;
}
.r-set-li{
    padding-left: 8px;
    height: 25px;
    line-height: 25px;
    text-align: left;
}
.r-set-li:hover{
    background-color: #398bfb;
    color: #fff;
}
.r-more-ul{
    display: none;
    position: absolute;
    height: 700px;
    width: 86px;
    background-color: #f0f0f0;
    left: 504px;
}
.r-more-img{
    width: 36px;
    height: 36px;
}
.r-more-li{
    width: 66px;
    text-align: center;
    margin: 10px auto 5px;
    line-height: 14px;
}
/********************** header *******************/

/********************** nav *******************/
.navbg{
    height: 129px;
    width: 270px;
    margin: 15px auto;
}
.navbd-logo{
    height: 129px;
    width: 270px;
}
.nav-sousuo{
    width: 641px;
    height: 40px;
    margin: 5px auto;
}
.sousuo{
    position: relative;
    height: 40px;
    width: 536px;
    border: 1px solid rgb(180, 180, 180);
    border-right: 0px;
}
.sousuo-input{
    position: absolute;
    width: 500px;
    height: 40px;
    border: 0px;
    padding-left: 7px;
    outline:medium;
}
.sousuo-img{
    position: absolute;
    height: 22px;
    left: 250px;
    top: 4px;
}
.bdyx{
    position: absolute;
    display: inline-block;
    background-color: #3385ff;
    font-size: 15px;
    color: #fff;
    width: 102px;
    height: 42px;
    top: -1px;
    left: 536px;
    text-decoration: none;
    line-height: 42px;
    text-align: center;
}
/********************** nav *******************/

/********************** article *******************/
article{
    width: 895px;
    height: 405px;
    margin: 0px auto;
    margin-top: 100px;
    border: 1px solid rgb(180, 180, 180);
    font-size: 14px;
}
.a-nav{
    background-color: #fff;
    position: relative;
    height: 38px;
    font-size: 15px;
    border-bottom: 1px solid rgb(180, 180, 180);
    font-size: 14px;
}
.a-nav-a{
    display: inline-block;
    text-decoration:none;
    text-align: center;
    width: 80px;
    line-height: 39px;
}
.other:hover{
    background-color: #b3b6bb;
    color: #fff;
    font-weight: bold;
}
.watch{
    margin-left: 0px;
    width: 124px;
    height: 39px;
}
.current{
    background-color: #9a9da2;
    color: #fff;
    font-weight: bold;
}
.watch-img{
    width: 15px;
    height: 15px;
}
.nav-set{
    position: absolute;
    top: 9px;
    left: 855px;
}
.nav-set-img{
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.a-mynav{
    width: 844px;
    height: 30px;
    margin: 0px auto;
    margin-top: 13px;
    margin-bottom: 10px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(180, 180, 180);
    line-height: 30px;
}
.nav-master-right{
    float: right;
    display: none;
}
.nav-master{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 16px;
    text-align: right;
}
.nav-master-tianjia:hover{
    color: #3385ff;
}
.nav-master-zhiding{
    color: rgb(153,153,153);
}
.tianjiatu{
    display: none;
    height: 50px;
    width: 850px;
    margin: 0px auto;
    padding-bottom: 15px;
    text-align: center;
    line-height: 70px;
}
.a-m-img{
    width: 12px;
    height: 12px;
    transform: rotate(-90deg);
}
.a-custom{
    width: 844px;
    height: 30px;
    margin-top: 13px;
    margin-bottom: 10px;
    margin: 0px auto;
}
.lueimg{
    width: 843px;
    margin: 0px auto;
}
.tuijianimg,.daohangimg{
    display: none;
}
/********************** article *******************/


/********************** footer *******************/
footer{
    text-align: center;
    width: 500px;
    margin: 20px auto;
    font-size: 12px;
    color: rgb(180, 180, 180);
}
.f-a{
    font-size: 12px;
    color: rgb(180, 180, 180);
}
.f-img-w {
    height: 15px;
}
.f-img-j {
    height: 15px;
    vertical-align: middle;
}
/********************** footer *******************/