*{
    margin: 0px;
    padding: 0px;
}
body{
    min-width: 1000px;
}
a{
    color: #333;
}
/************** header ****************/
header{
    height: 32px;
    font-size: 12px;
    border-bottom:1px solid #ddd;
    line-height: 32px;
}
.h-left{
    display: inline-block;
    margin-left: 15px;
}
.l-matter{
    display: inline-block;
}
.weather{
    height: 100%;
    vertical-align: middle;
    margin-right: 5px;
    line-height: 100%;
}
.w-logo{
    width: 18px;
    height: 18px;
}
.wendu{
    margin-right: 9px;
}
.you{
    margin-right: 7px;
    color: #38f;
}
.fenge{
    margin-right:11px;
}
.left-a {
    display: inline-block;
    margin-right: 19px;
}
.h-right{
    float: right;
    text-align: right;
    width: 500px;
}
.r-matter{
    margin-left: 19px;
}
.expand{
    display: inline-block;
}
/************** header ****************/

nav > div {
    height: 129px;
    width: 270px;
    margin: 15px auto;
}
nav > div > img{
    height: 129px;
    width: 270px;
}
nav > form{
    position: relative;
    height: 33px;
    width: 640px;
    margin: 5px auto;
    border: 1px solid rgb(180, 180, 180);
}
nav > form > input{
    position: absolute;
    width: 474px;
    height: 33px;
    border: 0px;
}
nav > form > a > img{
    float: right;
    height: 33px;
}
nav > form > button{
    float: right;
    background-color: #3385ff;
    font-size: 15px;
    color: #fff;
    width:100px;
    height: 33px;
}
article{
    width: 800px;
    height: 400px;
    margin: 0px auto;
    margin-top: 100px;
    border: 1px solid rgb(180, 180, 180);
}
.a-nav{
    height: 35px;
    font-size: 15px;
    border-bottom: 1px solid rgb(180, 180, 180);
}
.a-nav > a{
    text-decoration:none;
    text-align: center;
    line-height: 35px;
    margin-left: 20px;
}
.a-nav > .watch{
    display: inline-block;
    margin-left: 0px;
    width: 120px;
    height: 35px;
    background-color: #b6b6b6;
}
.a-nav > a > img{
    height: 29px;
    float: right;
    margin-right: 8px;
}
.a-mynav{
    width: 720px;
    margin: 20px auto;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(180, 180, 180);
}
.a-custom{
    margin-left: 40px;
}
footer{
    text-align: center;
    width: 500px;
    margin: 20px auto;
    font-size: 12px;
    color: rgb(180, 180, 180);
}
footer > div > a{
    font-size: 12px;
    color: rgb(180, 180, 180);
}
footer > div > img {
    height: 14px;
}